*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    height:100%;
    width:100%;
}

main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

button{
    padding: 15px 25px;
    background-color: rosybrown;
    border: none;
    font-size: 20px;
    color: black;

    border-radius: 5px;
    position: relative;
    z-index: 1;
}
button:active{
    scale: 0.95;
}